<h1>Destinations</h1>
<ol>
  <% @destinations.each do |destination| %>
    <li><%=  destination.city %></li>
  <% end %>
</ol>


<h1>Themes</h1>
<ol>
  <% @themes.each do |t| %>
    <li><%=  t.title %></li>
    <% Rubrique.where(theme_id: t.id).each do |r| %>
    <ul><%= r.chapter %></ul>
    <% end %>
  <% end %>
</ol>
